
body{
    
    background-color: rgb(209, 219, 230);
    font-family: 'Outfit', sans-serif;
   
}

main{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.content{
    height: 499px;
    width: 320px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 16px;
}


.text {
    width: 288px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 16px;
}

.text1{
    color: blue hsl(218, 44%, 22%);
    font-family: inherit;
    font-weight: bold;
    font-size: 22px;
    line-height: 120%;
    margin-left: 16px;
    margin-right: 16px;
    border: none;
}

.text2{
    color: blue hsl(216, 15%, 48%);
    font-family: inherit;
    font-weight: regular;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    margin-left: 16px;
    margin-right: 16px;
    border: none;
    
    
}

.qrImage{
    width: 288px;
    height: 288px;
    padding-top: 16px;
    
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} 

