
body{
    
    background-color: rgb(209, 219, 230);
    font-family: 'Outfit', sans-serif;
   
}

main{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.content{
    height: 499px;
    width: 320px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 16px;
}


.text {
    width: 288px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 16px;
}

.text h1 {
  font-size: 1.25rem;
  color: hsl(218, 44%, 22%);
  margin: 16px 0 8px;
  line-height: 1.4;
}

.text p {
  font-size: 0.95rem;
  color: hsl(216, 15%, 48%);
  margin: 0 16px 16px;
  line-height: 1.6;
}



.qrImage{
  padding-top: 16px;
  width: 90%;
  border-radius: 10px;
  height: auto;
    
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} 

